.home_container {
  padding: 0px;
  background-color: #cdcdcf;
  height: 100%;

  .card_component_wrapper {
    border-radius: 10px;
    margin-top: 50px;
  }

  .first_image_section {
    margin-top: -115px;
    position: relative;

    .image_section1 {
      margin-top: 10px;
    }
    .home_subtitle1 {
      position: absolute;
      top: 60px;
      width: 100%;
      //font-size: 60px;
      color: red;

      .home_about_and_signup_section {
        border: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .home_about_us_text {
          display: flex;
          flex-direction: column;
          color: #fcfffc;
          width: 700px;

          .home_about_us_header {
            font-size: 85px;
          }
          .home_about_us_second_text {
            font-size: 35px;
          }
        }

        .home_signup_text {
          color: yellow;
        }
      }
    }
  }
}

.about_page_section {
  background-color: red;
  padding: 10%;
  margin: 10px;
}

.shirts_page_section {
  background-color: green;
  padding: 10%;
  margin: 10px;
}

.pants_page_section {
  background-color: yellow;
  padding: 10%;
  margin: 10px;
}
.suits_page_section {
  background-color: grey;
  padding: 10%;
  margin: 10px;
}

@media only screen and (max-width: 800px) {
  .home_container {
    flex-wrap: wrap;
    height: 100%;
    .first_image_section {
      flex-wrap: wrap;
      height: 100%;
      .image_section1 {
        height: 100%;
        flex-wrap: wrap;
      }

      .home_subtitle1 {
        display: none;
        flex-wrap: wrap;
        height: 100%;

        .home_about_and_signup_section {
          flex-wrap: wrap;
          height: 100%;
          .home_about_us_text {
            flex-wrap: wrap;
            .home_about_us_header {
              flex-wrap: wrap;
            }
            .home_about_us_second_text {
              font-size: 10px;
            }
          }

          .home_signup_text {
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  .home_about_and_signup_section {
    position: absolute;
    flex-wrap: wrap;
    .home_about_us_text {
      position: absolute;
      flex-wrap: wrap;
      font-size: 20px;
    }
  }

  .card_component_wrapper {
    position: absolute;
    border-radius: 10px;

    margin-top: 600px;
  }
}
